<link rel="stylesheet" type="text/css" href="home.scss">

<div class="about-main">
  <h2>Tennishareとは</h2>
  <p>
    オンラインでテニスの悩みを相談できるSNSサービスです。

  </p>

  <div class="about-contents">
   <div class="about-box">
     <img src="/tennis114514.png" height="58" width="48"><br>
     <p>身近にコーチがいなくても</p>
    </div>
   <div class="about-box2">
     <img src="/comunication-icon.jpg" height="50" width="50">
     <p>気軽にテニスの相談ができる</p>
    </div>
  </div>
</div>
